%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item.active{"aria-current" => "page"}= @console.friendly_name
.card.mt-2
  .card-body
    %h5
      = Videogame.model_name.human.pluralize
      %span.badge.badge-primary= @console.videogames.count
  %table.table.table-sm
    %thead
      %th= Videogame.human_attribute_name(:friendly_name)
      %th= Videogame.human_attribute_name(:msu1_pcm_tracks)
      %th= Videogame.human_attribute_name(:msu1_packs)
      %th= I18n.t(:download)
    %tbody
      - @console.videogames.each do |videogame|
        %tr
          %td
            %a{href: videogame_path(videogame)}= videogame.friendly_name
          %td
            %span.badge.badge-primary= videogame.msu1_pcm_tracks.count
          %td
            %span.badge.badge-primary= videogame.msu1_packs.count
          %td
            - unless videogame.msu1_pcm_tracks.empty?
              %a.download-archive{href: download_music_tracks_videogame_path(videogame), download: true}
                = application_icon(:download, size: :lg)
                = "Download All #{Msu1PcmTrack.model_name.human.pluralize}"
