%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.msu1tracks-breadcrumb
    %li.breadcrumb-item.active{"aria-current" => "page"}= @console.friendly_name
.card.msu1tracks-card
  .card-header
    = application_icon(Videogame, size: :lg)
    = Videogame.model_name.human.pluralize
    %span.badge.badge-secondary= @console.videogames.count
  .card-body
    %table.table
      %thead
        %th.w-25
          = application_icon(Videogame, size: :lg)
          = Videogame.model_name.human
        %th.w-25
          = application_icon(Msu1PcmTrack, size: :lg)
          = Videogame.human_attribute_name(:msu1_pcm_tracks)
        %th.w-25
          = application_icon(Msu1Pack, size: :lg)
          = Videogame.human_attribute_name(:msu1_packs)
        %th.w-25
          = application_icon(:download, size: :lg)
          = I18n.t(:download)
      %tbody
        - @console.videogames.each do |videogame|
          %tr
            %td
              %a{href: videogame_path(videogame)}
                = videogame.friendly_name
            %td
              %span.badge.badge-secondary= videogame.msu1_pcm_tracks.count
            %td
              %span.badge.badge-secondary= videogame.msu1_packs.count
            %td
              - unless videogame.msu1_pcm_tracks.empty?
                %a.download-archive{href: download_music_tracks_videogame_path(videogame), download: true}
                  = "Download All #{Msu1PcmTrack.model_name.human.pluralize}"
