%html
  %head
    %title MSU-1 Tracks
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{href: '#'}
        = application_icon(:music)
        MSU-1 Tracks
      %button.navbar-toggler{type: :button, data: {toggle: :collapse, target: '#navbarSupportedContent'}}
        %span.navbar-toggler-icon

      .collapse.navbar-collapse{id: 'navbarSupportedContent'}
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{href: '#'} 
              = application_icon(:home)
              Home
    .container-fluid
      .row
        .col-md-10.col-md-offset-1
          = yield
